$deep-dark: rgb(26, 26, 26);
$light-dark: rgb(110, 113, 120);
$light: rgb(245, 245, 245);

.todo {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: auto;
  background: #fff;
  box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border-radius: 5px;

  &__header {
    padding: 40px;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(190deg, #7d24ad 0%, #2f233b 100%);
    & h1 {
      margin-bottom: 20px;
      color: $light;
      text-transform: uppercase;
      & .fa-note-sticky {
        margin-right: 10px;
      }
    }
    &-title {
      width: 90%;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      color: $light-dark;
      background-color: $light;
    }
    &-details,
    &-add-btn,
    &-date {
      width: 90%;
      margin-top: 20px;
      padding: 10px 20px;
      font-family: sans-serif;
      border: none;
      border-radius: 5px;
      color: $light-dark;
      background-color: $light;
    }

    &-add-btn {
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        color: #fff;
        background-color: $light-dark;
      }
    }

    &-date-info {
      display: block;
      margin-top: 20px;
      color: $light;
    }
    &-alert {
      visibility: block;
      margin-top: 20px;
      color: tomato;
    }
  }
}
